<!--
  Generated template for the VisitorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    <ion-title>VISITORS</ion-title>

  </ion-navbar>

  <ion-toolbar class="" >
    <div class="search-div">
      <!-- <ion-input></ion-input> -->
      <ion-searchbar #q
        [(ngModel)]="queryText"
        [showCancelButton]="shouldShowCancel"
        (ionInput)="searchVisitors()" 
        placeholder="Search Name"
        [debounce]="500">
        
      </ion-searchbar>
    </div>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-list>

    <ion-item-group>

      <ion-item-divider color="light">
        <ion-label>
          Visitors
        </ion-label>
      </ion-item-divider>

      <div class="item-contact" (click)="openVisitorDetail(visitor)" *ngFor="let visitor of visitors">
        <ion-row class="row-main">
          <ion-col class="col-avatar" col-3 text-center>
            <img class="img-avatar" [hidden]="visitor.user.profile.avatarUrl" src="./assets/imgs/defaultAvatar.png" alt="Avatar">
            <img class="img-avatar" [hidden]="!visitor.user.profile.avatarUrl" [src]="visitor.user.profile.avatarUrl" alt="Avatar">
          </ion-col>
          <ion-col class="col-personal-details">
            <ion-row class="row-visitor-name">
              <div *ngIf="visitor.name">
                {{visitor.name}}
              </div>
              <div *ngIf="!visitor.name">
                {{visitor.firstName}} {{visitor.lastName}}
              </div>
            </ion-row> 
            <ion-row class="row-job-title">
              <div *ngIf="visitor.user.profile.jobTitle">
                {{visitor.user.profile.jobTitle}}
              </div>
              <div *ngIf="!visitor.user.profile.jobTitle">
                -
              </div>
            </ion-row>

            <ion-row class="row-check-access">
              <ion-col class="check-in-span">I : 
                <span *ngIf="visitor.lastCheckedIn !== null">{{visitor.lastCheckedIn | date : 'yyyy/MM/dd'}} {{visitor.lastCheckedInTime}}</span>
                <span *ngIf="!visitor.lastCheckedIn"> - </span>
              </ion-col>
            <!-- </ion-row>
            <ion-row class="row-check-access"> -->
              <ion-col class="check-out-span"> O : 
                <span *ngIf="visitor.lastCheckedOut">{{visitor.lastCheckedOut | date : 'yyyy/MM/dd'}} {{visitor.lastCheckedOutTime}}</span>
                <span *ngIf="!visitor.lastCheckedOut"> - </span>
              </ion-col>
            </ion-row>

          </ion-col>
          <ion-col class="col-print-badge" col-2>
            <button (click)="openPrintBadge(visitor);$event.stopPropagation();">
              <ion-row class="row-img">
                <img class="img-badge" src="./assets/icon/printBadge.png">
              </ion-row>
              <ion-row   align-items-center class="row-text">
                <ion-col>
                  Badge
                </ion-col>
              </ion-row>
            </button>

          </ion-col>
        </ion-row>
      </div>
    </ion-item-group>
  </ion-list>

  <!-- <ion-list>
    <ion-item-group *ngFor="let group of groupedContacts">

      <ion-item-divider color="light">
        <ion-label>
        {{group.letter}}
        </ion-label>
      </ion-item-divider>

      <div class="item-contact" (click)="openVisitorDetail(contact)" *ngFor="let contact of group.contacts">
        
        <ion-row class="row-main">
          <ion-col class="col-avatar" col-3 text-center>
            <img class="img-avatar" src="./assets/imgs/defaultAvatar.png" alt="Avatar">
          </ion-col>
          <ion-col class="col-personal-details">
            <ion-row class="row-visitor-name">
              {{contact}}
            </ion-row> 
            <ion-row class="row-job-title">
              General Admission
            </ion-row>
            <ion-row class="row-check-access">
              <span class="check-in-span">I: 2018 0600, 10:43PM </span>
              &nbsp;
              <span class="check-out-span">O: 2018 0600, 10:43PM</span>
            </ion-row>
          </ion-col>
          <ion-col class="col-print-badge" col-2>
            <button (click)="openPrintBadge(contact);$event.stopPropagation();">
              <ion-row class="row-img">
                <img class="img-badge" src="./assets/icon/printBadge.png">
              </ion-row>
              <ion-row   align-items-center class="row-text">
                <ion-col>
                  Badge
                </ion-col>
              </ion-row>
            </button>

          </ion-col>
        </ion-row>
      </div>
  
    </ion-item-group>
  </ion-list> -->
</ion-content>


<ion-footer>
  <!-- <ion-toolbar> -->
    <ion-row align-items-center>
      <ion-col text-center col-5>
        <img src="./assets/imgs/dashboard/visitors.png"> &nbsp;
          <!-- <ion-icon item-start name="people"></ion-icon> -->
        <span *ngIf="!eventStat.totalTac">
          - / -
        </span>
        <span *ngIf="eventStat.totalTac">
          {{eventStat.activeVisitors}} / {{eventStat.totalVisitors}}
        </span>
      </ion-col>
      <ion-col  text-left>
        G 1000
      </ion-col>
      <ion-col text-left>
        V 200
      </ion-col>
      <ion-col text-left>
        VV 11
      </ion-col>
    </ion-row>
  <!-- </ion-toolbar> -->
</ion-footer>