page-login {

    .div-login {
        
        position: relative;
        bottom: -350px;

        .item {
            padding: 0 0 0 0;
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
            color: black; 
    
            label {
                font-size: 15pt;
            }
        }
    }
}

