page-email-checkin {

    .main-content {
        background: color($colors, primary);
    }

    .div-page-header {
        padding-top: 5px;
        button {
            background: transparent;
            width: 50%;
        }
    }

    .input-email {
        padding-left: 15px;
        padding-right: 15px;

        .emailField {
            color: white;
        }

        ion-input {
            font-family: 'HelveticaNeue-condensedBold';
        }
    }

    .div-change-to-phone {
        padding-top: 20px;
        color: white;
        text-decoration: underline;

    }
}
