<ion-menu [content]="content">
  <ion-header no-border>
    <!-- <ion-grid> -->
      <div style="height: 20px;"></div>
      <ion-row class="row-top-header">
       
        <ion-col col-2 class="col-left">
          <img src="./assets/icon/eventLogo.png">
        </ion-col>
        <ion-col align-self-center text-left class="col-mid">
          WeExpo
        </ion-col>
        <ion-col align-self-center col-2 class="col-right">
          <img src="./assets/icon/switch.png">
        </ion-col>
      </ion-row>

      <ion-row class="row-mid-header">
          <img class="img-avatar" src="./assets/imgs/avatar.png" alt="Avatar">
      </ion-row>

      <ion-row class="row-bottom-header">
        
        <ion-col align-self-center col-2 class="col-left">
            <img src="./assets/icon/gear.png">
        </ion-col>

        <ion-col align-self-center text-center class="col-mid">
          Kenneth Palermo
        </ion-col>

        <ion-col col-2 class="col-right">
          <img src="./assets/icon/edit.png">
        </ion-col>

      </ion-row>
    <div class="border-seperator"></div>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item text-left menuClose no-lines *ngFor="let p of mainPages" (click)="openPage(p)">
        <ion-icon item-start [name]="p.icon"></ion-icon>
        {{p.title}}
      </ion-item>
      <!-- <ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </ion-item> -->
    </ion-list>
    <div class="border-seperator"></div>
    <ion-list>
      <ion-item text-left menuClose no-lines *ngFor="let p of otherCategoriesPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon"></ion-icon>
        {{p.title}}
      </ion-item>
    </ion-list>

  </ion-content>

  <ion-footer class="footer-trademark" no-border>
    <div align-self-item class="border-seperator"></div>
    <div class="background-div">
      <ion-row>
        <ion-col text-left col-2>
          <img src="./assets/icon/tacnotev2_logo_blue.png" style="height:40px; width:40px;">
        </ion-col>
        <ion-col align-self-center text-left>
          <span style="font-family: 'HelveticaNeue-light'; font-size:18px; color: gray;">Smartified by </span><span style="font-family: 'HelveticaNeue-CondensedBold'; font-size:18px; color: gray;">TacNote &#174;</span>
        </ion-col>
      </ion-row>
    </div>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>