// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, light);
  }

  .toolbar-background {
    background-color: color($colors, primary);
}

ion-menu {

    font-family: 'HelveticaNeue-CondensedBold';
    color: color($colors, primary-fontcolor);

    .border-seperator {
        border-bottom: 0.55px solid lightslategray;
        margin-left: 25px;
        margin-right: 25px;
    }

    div {
        color: color($colors, primary-fontcolor);
    }

    ion-icon{
        color: color($colors, primary-fontcolor);
    }

    ion-header {
        height: 35%;

        .row-top-header {
            height: 20%;
            // background-color: white;

            .col-left{
                // background-color: transparent;
            }

            .col-mid{
                // background-color: transparent;
            }

            .col-right {
                // background-color: transparent;
            }

            img {
                width: 80%;
            }
        }

        .row-mid-header {
            height: 60%;
            // background-color: aqua;

            .img-avatar {
                border-radius: 50%;
 
                display: block;
                margin-top: auto;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: auto;
                max-width: 40%;
                max-height: 100%;
              }
        }

        .row-bottom-header {
            height: 20%;
            border-bottom: 0.2px gray;

            .col-left{
                // background-color: transparent;
                img {
                    display: block;
                    margin-top: auto;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: auto;
                    width: 70%;
                }
                
            }

            .col-mid{
                // background-color: transparent;
            }

            .col-right {
                // background-color: transparent;
                img {
                    display: block;
                    margin-top: auto;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: auto;
                    width: 70%;
                }
            }
        }
    }

    ion-content {

        margin-top:20px;

        ion-list {
            // border-style: none;
            margin-bottom: 0px;

        }
    }

    ion-footer {
        height: 8%;
        background-color: white;
        

        .background-div {
            ion-col{
                text-align: right;
            }
            img {
                // padding-right:10px;
            }
            // align-items: center;
            // margin-left: auto;
            // margin-right: auto;
            // position: relative;

        }
    }
}